<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
   <nav> 
       <h3>Blog</h3>
       <u1>
           <li><a href="">Home</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/register">Register</a></li>
       </u1>

   </nav>

   <div class="home_welcome">
       <h1>Welcome to the Blog</h1>
       <div class="welcome_text">
       <p> Login to view the blog and like and comment on your 
           favourite content. Post your thoughts and captured
            moments on the blog for others to enjoy. 
            Join the community and lets have fun together</p>
        </div>

        </div>
</body>
</html>